/***************************************
 * Created by: Misty Dela Cruz
 * Created on: 6/26/2024
 * Last Modified: 7/12/2024
 * Updates:
 * Finished styling the Menu page
 ***************************************/

@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&family=Tiny5&display=swap");

body,
button {
  font-family: "Silkscreen", sans-serif;
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.split {
  height: 60%;
  width: 40%;
  left: 5%;
  top: 0;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 20px;
  border-left: 25%;
}

.left {
  background-color: #8ecff5;
  left: 1%;
  width: 45%;
  height: 98%;
  display: flex;
  flex-wrap: wrap;
}

.right {
  right: 0;
  left: 49.5%;
  width: 48%;
  height: 98%;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(77, 132, 176);
}

.close {
  height: 50px;
  background-color: #ffffff;
  margin-left: 96.8%;
}

/***************************************
 *       MENU PAGE CONTENT STYLES      *
 ***************************************/

.left-content-menu {
  width: 92%;
  text-align: center;
  height: fit-content;
  padding-right: 30px;
  background-color: #34729d;
  padding-bottom: 7%;
  outline: auto;
  outline-color: #000;
}

.right-content-menu {
  text-align: center;
  height: fit-content;
  width: 96%;
  background-color: rgb(35, 11, 109);
}

.nav {
  text-align: center;
}

h1 {
  color: black;
  width: 104.7%;
  font-size: 3em;
  padding-top: 10px;
  padding-bottom: 30px;
}

h2 {
  color: white;
}

ul {
  display: block;
  padding: 15px;
  text-align: center;
  width: 100%;
}

button {
  font-size: 2em;
  width: 65%;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  button {
    padding: 0.25em 0.75em;
  }
}

/***************************************
 *       ABOUT PAGE CONTENT STYLES     *
 ***************************************/

 .left-content-about {
  width: 92%;
  text-align: center;
  height: fit-content;
  padding-right: 30px;
  background-color: #34729d;
  padding-bottom: 7%;
}

.right-content-about {
  text-align: center;
  height: fit-content;
  width: 95%;
  background-color: rgb(35, 11, 109);
}

h1 {
  color: black;
  width: 104.7%;
  font-size: 3em;
  padding-top: 10px;
  padding-bottom: 30px;
}

h2 {
  color: white;
}

.pic {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
}

/***************************************
 *       ABOUT PAGE CONTENT STYLES     *
 ***************************************/

@media (max-width: 600px) {
  .left-content-menu {
    flex-direction: column;
  }
}

/* button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  } */
